<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>My Anime Backlog</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav class="top">
    <div class="navlink"><a href="/logout">Log Out</a></div>
    <div class="navlink"><a id="premiumButton" href="/premium">Get Premium</a></div>
    <div class="navlink"><a id="viewButton" href="/viewStats">View Your Preferences</a></div>
  </nav>
  <section id="makeAnime"></section>
  <h1 id="errorMessage" class='hidden'></h1>
  <section id="animes"></section>
  <script src="/assets/appBundle.js"></script>
</body>
</html>